# Vim swap files
*.swp

## Java section
*.class
target
build

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java/com/en/download/help/error_hotspot.xml
hs_err_pid*

#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
tmp/
org/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.settings/
*.gpkg

# Ignore coverity scan folder
cov-int

RGISuite/settings.txt
VerifierTool/.project
WiX/CustomAction3/CustomAction3/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.cache
WiX/CustomAction3/CustomAction3/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WiX/CustomAction3/CustomAction3/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
