<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product Id="D4C7A26B-56AA-47A7-BCA7-DC32C6E86DB7" Name="Swagd - Software to Aggregate Geospatial Data" Language="1033" Version="1.0.0.1" Manufacturer="Reinventing Geospatial, Inc." UpgradeCode="A526C97F-4FD4-4C56-B6BE-F55486576469">
      <Package Description="SWAGD Installer" Comments="Simple installer for SWAGD" Platform="x64" InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />
      <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

      <!-- directory structure: defaults to C:\Program Files\Swagd -->
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFiles64Folder" Name="PFiles">
          <Directory Name="Swagd" Id="INSTALLDIR">
            <Directory Name="lib" Id="LIB64" />
          </Directory>
          <Directory Id="ProgramMenuFolder" Name="Programs">
            <!-- creates a shortcut on the windows start menu -->
            <Directory Id="ProgramMenuDir" Name="Swagd - Geospatial Toolset" />
          </Directory>
        </Directory>
      </Directory>
      
      <!-- List components that go in or reference in the installdir, eg C:\Program Files\swagd, which is the default defined above.
            these include path shortcuts-->
      <Property Id="INSTALLDIR" Secure="yes" />
      <Property Id="WITHDEPS" Secure="yes" />
      
      <!-- swagd components -->
      <DirectoryRef Id="INSTALLDIR">
        <Component Id="swagd.exe" DiskId="1" Guid="eed0a7a6-d443-4835-8d4f-42d57875b07a" Win64='yes'>
          <File Id="SWAGDEXE" Name="swagd.exe" Source="..\RGISuite\target\swagd.exe" KeyPath="yes" ProcessorArchitecture ="x64">
            <Shortcut Id="ApplicationStartMenuShortcut" Name="SWAGD" Description="SoftWare that Aggregates Geospatial Data" WorkingDirectory="INSTALLDIR" Icon="swagd.exe" Directory="ProgramMenuDir" IconIndex="0" Advertise="yes" />
          </File>
        </Component>
        <Component Id="license" DiskId="1" KeyPath="yes" Guid="fee5774b-08a4-41b9-9e86-8b4fcb372dd5" Win64='yes'>
          <File Id="LICENSE.TXT" Name="LICENSE.txt" Source="..\LICENSE.txt"/>
        </Component>
        <Component Id="swagdShared.jar" DiskId="1" KeyPath="yes" Guid="c5bc0fb2-fef6-45e0-9343-1ae6da204dc8" Win64='yes'>
          <File Id="RGISUITE_0.0.1_SNAPSHOT_WITH_DEPENDENCIES.JAR" Name="RGISuite-0.0.1-SNAPSHOT-with_dependencies.jar" Source="..\RGISuite\target\RGISuite-0.0.1-SNAPSHOT-with_dependencies.jar" ProcessorArchitecture ="x64"/>
        </Component>
        <Component Id="settings" DiskId="1" KeyPath="yes" Guid="E7C4DB1B-E7AC-4006-9733-81C677D2D521" Win64='yes'>
          <File Id="settings" Name="settings.txt" Source=".\Resources\settings.txt" ProcessorArchitecture ="x64"/>
        </Component>
        
        <!-- set path variables-->
        <Component Id="gdalDataPath" Guid="EF67942F-D3D9-492B-824D-CCE63B10B805" Win64="yes">
          <Condition><![CDATA[WITHDEPS <> "0"]]></Condition>
          <CreateFolder />
          <Environment Id="gdaldatapath" Name="GDAL_DATA" Value="[INSTALLDIR]GDAL\gdal-data" Permanent="no" Part="all" Action="set" System="yes" />
        </Component>
        <Component Id="gdalPath" Guid="E69183C0-F599-45EB-925F-F9D09432577F" Win64="yes">
          <Condition><![CDATA[WITHDEPS <> "0"]]></Condition>
          <CreateFolder />
          <Environment Id="gdalpath" Name="Path" Value="[INSTALLDIR]GDAL" Permanent="no" Part="last" Action="set" System="yes" />
        </Component>
        <Component Id="swagdPath" Guid="9031B5C3-E038-4FF6-8DA5-FAB0C49B4FCF" Win64="yes">
          <CreateFolder />
          <Environment Id="swagdpath" Name="Path" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes" />
        </Component>
        <Component Id="swagdLibPath" Guid="2CC73C95-0D75-417E-A271-F94CE1C25B41" Win64="yes">
          <CreateFolder />
          <Environment Id="swagdlibpath" Name="Path" Value="[LIB64]" Permanent="no" Part="first" Action="set" System="yes"/>
        </Component>

      </DirectoryRef>

      <!-- List components that go in or reference in the installdir, eg C:\Program Files\swagd
            these include path shortcuts-->
      <DirectoryRef Id="LIB64">
        <Component Id="gdal.jar" DiskId="1" KeyPath="yes" Guid="9e19a102-f7be-46a7-b6f9-4ee6b66b2477" Win64='yes'>
          <File Id="GDAL.JAR" Name="gdal.jar" Source="..\RGISuite\lib\gdal.jar" ProcessorArchitecture ="x64"/>
        </Component>
        <Component Id="gdal111.dll" DiskId="1" KeyPath="yes" Guid="cf4adb64-2d86-4de4-8d3b-9c4f904d5e1c" Win64='yes'>
          <File Id="GDAL111.DLL" Name="gdal111.dll" Source="..\RGISuite\lib\gdal111.dll" ProcessorArchitecture ="x64"/>
        </Component>
        <Component Id="gdalconstjni.dll" DiskId="1" KeyPath="yes" Guid="48dacc48-0e3f-4afa-940a-73222dbc56d1" Win64='yes'>
          <File Id="GDALCONSTJNI.DLL" Name="gdalconstjni.dll" Source="..\RGISuite\lib\gdalconstjni.dll" ProcessorArchitecture ="x64"/>
        </Component>
        <Component Id="gdaljni.dll" DiskId="1" KeyPath="yes" Guid="75ff2194-802d-4c05-bee3-b0f252a242e6" Win64='yes'>
          <File Id="GDALJNI.DLL" Name="gdaljni.dll" Source="..\RGISuite\lib\gdaljni.dll" ProcessorArchitecture ="x64"/>
        </Component>
        <Component Id="ogrjni.dll" DiskId="1" KeyPath="yes" Guid="99df1a8b-6e65-44c3-8367-e71570721552" Win64='yes'>
          <File Id="OGRJNI.DLL" Name="ogrjni.dll" Source="..\RGISuite\lib\ogrjni.dll" ProcessorArchitecture ="x64"/>
        </Component>
        <Component Id="osrjni.dll" DiskId="1" KeyPath="yes" Guid="9646a880-c647-4267-9941-13f30fcad27d" Win64='yes'>
          <File Id="OSRJNI.DLL" Name="osrjni.dll" Source="..\RGISuite\lib\osrjni.dll" ProcessorArchitecture ="x64"/>
        </Component>
      </DirectoryRef>
      
      <!-- start menu shortcut component   -->
      <DirectoryRef Id="ProgramMenuDir">
        <Component Id="ProgramMenuDir" Guid="E476217A-888D-48BC-ADEC-D32EA0F108D3" Win64='yes'>
          <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\RGI\Swagd" Type="integer" Value="1" Name="Installed" KeyPath="yes" />
        </Component>
      </DirectoryRef>
      
      <!-- Feature Info: lists what components will be installed. -->
      <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
        <ComponentRef Id="gdal.jar" />
        <ComponentRef Id="gdal111.dll" />
        <ComponentRef Id="gdalconstjni.dll" />
        <ComponentRef Id="gdaljni.dll" />
        <ComponentRef Id="ogrjni.dll" />
        <ComponentRef Id="osrjni.dll" />
        <ComponentRef Id="swagd.exe" />
        <ComponentRef Id="license" />
        <ComponentRef Id="swagdShared.jar" />
        <ComponentRef Id="ProgramMenuDir" />
        <ComponentRef Id="swagdPath"/>
        <ComponentRef Id="swagdLibPath"/>
        <ComponentRef Id="gdalPath"/>
        <ComponentRef Id="settings" />
        <ComponentRef Id="gdalDataPath"/>
      </Feature>
      <Icon Id="swagd.exe" SourceFile="..\RGISuite\target\swagd.exe" />
    </Product>

</Wix>
